body {
	margin: 0;
}

body {
	line-height: 1.5;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}

body.hidden-scrolling {
	overflow-y: hidden;
}

* {
	margin: 0;
	box-sizing: border-box;
}

.container {
	width: 98%;
	margin: auto;
	margin-left: 0.8em;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	padding: 10px;
	padding-top: 16px;
	padding-bottom: 10px;
	background-color: #ffffff;
	position: fixed;

}

.header-main {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 0;
	border-radius: 4px;
}

.header .logo {
	width: 75px;
	height: auto;
}

.header .nav-menu {
	padding: 0 15px;
}

.header .menu>.menu-item {
	display: inline-block;
	margin-left: 30px;
	position: relative;
}

.header .menu>.menu-item>a {
	display: block;
	padding: 12px 0;
	font-size: 16px;
	color: #717171;
	;
	text-transform: capitalize;
	font-weight: 400;
	transition: all 0.3s ease;
}

.header .menu>.menu-item>a .plus {
	display: inline-block;
	height: 12px;
	width: 12px;
	position: relative;
	margin-left: 5px;
	pointer-events: none;
}

.header .menu>.menu-item>a .plus:before,
.header .menu>.menu-item>a .plus:after {
	content: '';
	position: absolute;
	box-sizing: border-box;
	left: 50%;
	top: 50%;
	background-color: #717171;
	height: 2px;
	width: 100%;
	transform: translate(-50%, -50%);
	transition: all 0.3s ease;
}

.header .menu>.menu-item:hover>a .plus:before,
.header .menu>.menu-item:hover>a .plus:after {
	color: white;
}

.header .menu>.menu-item>a .plus:after {
	transform: translate(-50%, -50%) rotate(-90deg);
}

.header .menu>.menu-item>.sub-menu>.menu-item>a:hover,
.header .menu>.menu-item:hover>a {
	color: #717171;
}

.header .menu>.menu-item>.sub-menu {
	width: 220px;
	position: absolute;
	left: 0;
	top: 100%;
	background-color: #1E1E1E;
	padding: 10px 0;
	border-top: 4px solid #1E1E1E;
	transform: translateY(10px);
	transition: all 0.3s ease;
	opacity: 0;
	visibility: hidden;
}

@media(min-width: 750px) {
	.header .menu>.menu-item-has-children:hover>.sub-menu {
		transform: translateY(0);
		opacity: 1;
		visibility: visible;
	}

	.header .menu>.menu-item-has-children:hover>a .plus:after {
		transform: translate(-50%, -50%) rotate(0deg);
	}
}

.header .menu>.menu-item>.sub-menu>.menu-item {
	display: block;
}

.header .menu>.menu-item>.sub-menu>.menu-item>a {
	display: block;
	padding: 10px 20px;
	font-size: 16px;
	font-weight: 400;
	color: white;
	transition: all 0.3s ease;
	text-transform: capitalize;
}

.header .open-nav-menu {
	height: 34px;
	width: 40px;
	margin-right: 10px;
	margin-top: -5px;
	display: none;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.header .open-nav-menu span {
	display: block;
	height: 2px;
	width: 24px;
	background-color: #959595;
	position: relative;
}

.header .open-nav-menu span:before,
.header .open-nav-menu span:after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #959595;
	box-sizing: border-box;
}

.header .open-nav-menu span:before {
	top: -7px;
}

.header .open-nav-menu span:after {
	top: 7px;
}

.header .close-nav-menu {
	height: 40px;
	width: 40px;
	background-color: #1E1E1E;
	margin: 0 0 15px 15px;
	cursor: pointer;
	display: none;
	align-items: center;
	justify-content: center;
}

.header .close-nav-menu img {
	width: 16px;
}

.header .menu-overlay {
	position: fixed;
	z-index: 999;
	background-color: rgba(0, 0, 0, 0.5);
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 0.3s ease;
}

@media(max-width: 750px) {
	.header .menu-overlay.active {
		visibility: visible;
		opacity: 1;
	}

	.header .nav-menu {
		position: fixed;
		right: -280px;
		visibility: hidden;
		width: 280px;
		height: 100%;
		top: 0;
		overflow-y: auto;
		background-color: #1E1E1E;
		z-index: 1000;
		padding: 15px 0;
		transition: all 0.5s ease;
	}

	.header .nav-menu.open {
		visibility: visible;
		right: 0px;
	}

	.header .menu>.menu-item {
		display: block;
		margin: 0;
	}

	.header .menu>.menu-item-has-children>a {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.header .menu>.menu-item>a {
		color: #ffffff;
		padding: 12px 15px;
		border-bottom: 1px solid #424242;
	}

	.header .menu>.menu-item:first-child>a {
		border-top: 1px solid #424242;
	}

	.header .menu>.menu-item>a .plus:before,
	.header .menu>.menu-item>a .plus:after {
		background-color: #424242;
	}

	.header .menu>.menu-item-has-children.active>a .plus:after {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	.header .menu>.menu-item>.sub-menu {
		width: 100%;
		position: relative;
		opacity: 1;
		visibility: visible;
		border: none;
		background-color: transparent;
		box-shadow: none;
		transform: translateY(0px);
		padding: 0px;
		left: auto;
		top: auto;
		max-height: 0;
		overflow: hidden;
	}

	.header .menu>.menu-item>.sub-menu>.menu-item>a {
		padding: 12px 45px;
		color: #ffffff;
		border-bottom: 1px solid #424242
	}

	.header .close-nav-menu,
	.header .open-nav-menu {
		display: flex;
	}

}

.title {
	font-weight: 450;
	font-size: 27px;
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	padding-bottom: 5px;
}

.image-1 {
	width: 300px;
	height: 220px;
	background-image: url(img/paper.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 50px;
	border-radius: 10px;
}

.image-2 {
	width: 300px;
	height: 220px;
	background-image: url(img/gavel.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 50px;
	border-radius: 10px;
}

.image-3 {
	width: 300px;
	height: 220px;
	background-image: url(img/dove.svg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	margin-top: 50px;
	border-radius: 10px;
}

.shortcut-title-1 {
	font-weight: 300;
	font-size: 22px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Times New Roman', Times, serif;
	color: #424242;
	text-align: left;
}

.shortcut-text-1 {
	font-size: 18px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Times New Roman', Times, serif;
}

.shortcut-title-2 {
	font-weight: 300;
	font-size: 22px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Times New Roman', Times, serif;
	text-align: left;
}

.shortcut-text-2 {
	font-size: 18px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Times New Roman', Times, serif;
}

.shortcut-title-3 {
	font-weight: 300;
	font-size: 22px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Times New Roman', Times, serif;
	text-align: left;
}

.shortcut-text-3 {
	font-size: 18px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	margin-bottom: 30px;
	font-family: 'Times New Roman', Times, serif;
}

button {
	width: 180px;
	height: 60px;
	border-radius: 0;
	background-color: #39784c;
	border: none;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: 0.45s;
}

.button-container-1 {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	background-color: #ffffff;
}

.button-container-2 {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	background-color: #ffffff;
}

.button-container-3 {
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	height: 60px;
	background-color: #ffffff;
}

button:hover {
	background-color: #1E1E1E;
}

.footer {
	width: 100%;
	background-color: #424242;
	margin-top: -40px;
}

.footer p {
	color: #ffffff;
	font-weight: 300;
	font-size: 22px;
	font-family: 'Times New Roman', Times, serif;
	width: 90%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-top: 175px;
	padding-top: 30px;
	padding-bottom: 30px;
}

.footer-2 {
	width: 100%;
	background-color: #1E1E1E;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	padding-top: 40px;
	padding-bottom: 40px;
}

.instagram {
	margin-left: auto;
	margin-right: auto;
	width: 40px;
	display: block;
	margin-bottom: 25px;
}

.footer-2 p {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 90%;
	line-height: 30px;
}

::selection {
	background: #1E1E1E;
	color: white;
}

.title {
    font-weight: 450;
    font-size: 27px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;

}

.title{
	margin-top: 150px;
    margin-bottom: -15px;
}

hr{
    height: 1.5px;
    width: 200px;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
	display: block;
  	border: 0;
	border-top: 1px solid #cccccc;
  	padding: 0;
}

h2{
    color: #424242;
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

@media(min-width: 750px) {
	.header {
		position: absolute;
		width: 100%;
		left: 0;
		top: 0;
		z-index: 99;
		padding-top: 14px;
		padding-bottom: 14px;
		background-color: #ffffff;
		position: fixed;
	}

	.header .logo {
		width: 90px;
		height: auto;
		margin-left: 14px;
		margin-top: 5px;
	}

	.header-main {
		margin-right: 0px;
	}

	.title {
		font-weight: 450;
		font-size: 36px;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: 0px;
	}

	.line-2 {
		width: 655px;
		height: 1px;
		background-color: #cccccc;
		margin-left: auto;
		margin-right: auto;
		margin-top: 40px;
	}

	.shortcuts {
		display: grid;
		grid-template-columns: 300px 300px;
		justify-content: center;
		color: #424242;
	}

	.image-1 {
		margin-left: -22.5px;
	}

	.shortcut-title-1 {
		margin-left: -22.5px;
	}

	.shortcut-text-1 {
		margin-left: -22.5px;
	}

	.button-container-1 {
		margin-left: -22.5px;
	}

	.image-2 {
		margin-right: -22.5px;
	}

	.shortcut-title-2 {
		margin-right: -22.5px;
	}

	.shortcut-text-2 {
		margin-right: -22.5px;
	}

	.button-container-2 {
		margin-right: -22.5px;
	}

	.image-3 {
		margin-left: -22.5px;
	}

	.shortcut-title-3 {
		margin-left: -22.5px;
	}

	.shortcut-text-3 {
		margin-left: -22.5px;
	}

	.button-container-3 {
		margin-left: -22.5px;
	}

	.title {
		font-weight: 450;
		font-size: 36px;
		width: 85%;
		margin-left: auto;
		margin-right: auto;
	}

	.title{
        margin-top: 180px;
    }
	
	h2 {
		font-size: 32px;
	}
	
	hr {
		width: 250px;
	}

}

@media (min-width: 1100px) {
	.shortcuts {
		display: grid;
		grid-template-columns: 300px 300px 300px;
		justify-content: center;
	}

	.image-1 {
		margin-left: -45px;
	}

	.image-3 {
		margin-right: -45px;
		margin-left: 45px;
	}

	.shortcut-title-1 {
		margin-left: -45px;
	}

	.shortcut-text-1 {
		margin-left: -45px;
	}

	.button-container-1 {
		margin-left: -45px;
	}

	.shortcut-title-3 {
		margin-right: -45px;
		margin-left: 45px;
	}

	.shortcut-text-3 {
		margin-right: 450px;
		margin-left: 45px;
	}

	.button-container-3 {
		margin-right: -45px;
		margin-left: 45px;
	}

	.image-2 {
		margin-right: 0px;
	}

	.shortcut-title-2 {
		margin-right: 0px;
	}

	.shortcut-text-2 {
		margin-right: 0px;
	}

	.button-container-2 {
		margin-right: 0px;
	}
	
}